body {

    background-color: #EFF6FF;
    color: #2A4A5C;
    font-family: 'Barlow',sans-serif;
    
}

.header-main {

    margin-bottom: 6%;
}

.main-content-wrapper {
    display:flex;
    padding: 5%;
    height: fit-content;
}

.image-content {
    width: 50%;
}

.logo {
    height: 30px;
    padding: 5%;
}

.img {
    width: 100%;
    height: 100%;
    background-image: url('./assets/bg.jpg');
    background-size:cover;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
    background-color: #ffffff;
}

p {
    color:#7B8A92
}

.links {
    display: flex;
    justify-content: space-between;
    
}

.links i {
    
    margin: 0 15px 0 0;
}

.links a {
    text-decoration: none;
    padding: 2%;
    color: #ffffff;
    width: 40%;
}

.facebook {
    background-color: #255A9B;
}

.linkedin {

    background-color: #0076B6;
}

.break {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    
}

.OR {
    width: fit-content;
    text-align: center;
    padding: 0 2% 0 2%;
    font-size: 12px;
}

.bar {

    width: 25%;
    height: 0.5px;
    background-color: #AFAFAF;
    
}

.header {
    margin-top: 10%;
    margin-bottom: 10%;
}

.contacts {
    display: flex;
    justify-content: left;
    width: 100%;
}

.contacts-input-wrapper {
    width: 100%;
    display: flex;
    justify-content: left;
    
}

.contacts-input-wrapper input {

    margin: 0 auto 0 0;
    width: 40%;
}

input {
    width: 35%;
    color: #96A5B1;
    padding: 2%;
    
}

input:hover {
    border: 1px solid grey;
    border-left: 2px solid #3698FB;
    
}


.investor-info {

    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: space-around;

}

.investor-info .about-input {
    color: #AFAFAF;
    border: none;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 10px 2px rgba(217, 214, 214, 0.8);
    
}

.investor-info button {
    background-color: #3698FB;
    border: none;
    padding: 3%;
    width: 40%;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10%;
    margin-bottom: 10%;

}

.checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.agreement-wrapper {
    
    display: flex;
    justify-content: space-between;
}

.agreement-wrapper input {

    margin: 0 10px 0 0;
    width: fit-content;
}

.agreement-wrapper a {
    color: #3698FB;
}

.checkbox-wrapper input {
    width: fit-content;
    margin: 0 10px 0 0;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #96A5B1;
    appearance: none;
    cursor: pointer;
    
}

input[type=checkbox]:checked {

    outline: 2px solid #3698FB;
}




